.md-custom-btn {
    border-radius: 3px;
    color: white
}

.md-custom-toolbar{
    color: white
}

md-card-content.no-padding {
    padding: 0px;
}

.filter {
    td {
        padding-left: 10px;
    }
}

.color-filter {
    font-size: 0.75em;
}

.color-name {
    padding: 5px 0 0 10px;
    text-transform: uppercase;
}
