<div layout="row" layout-wrap class="cards-row">

    <div ng-repeat="combination in combinations" flex-md="50" flex-gt-md="33" ng-if="showCombination(combination)">

        <md-card>
            <md-card-content class="no-padding">
                <md-content class="padding">
                    <md-toolbar class="md-custom-toolbar md-whiteframe-z1"
                                style="background-color: {{combination.primary.color}}; color:{{combination.primary.contrast}}">
                        <div class="md-toolbar-tools">
                            <md-button class="md-icon-button" aria-label="Menu">
                                <md-icon md-svg-icon="hamburger"
                                         style="color:{{combination.primary.contrast}}"></md-icon>
                            </md-button>
                            <h2>
                                <span>Inbox</span>
                            </h2>
                            <span flex></span>

                            <md-button class="md-fab md-mini" aria-label="Comment"
                                       style="background-color: {{combination.accent.color}}; color:{{combination.accent.contrast}}">
                                <md-icon md-svg-icon="textsms"
                                         style="color:{{combination.accent.contrast}}"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-list>
                        <md-list-item class="md-3-line">
                            <img ng-src="/images/avatar.jpg" class="md-avatar" alt=""/>

                            <div class="md-list-item-text">
                                <h3>Min Li Chan</h3>
                                <h4>Brunch this weekend?</h4>

                                <p>I'll be in your neighborhood doing errands}</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-3-line">
                            <img ng-src="/images/avatar.jpg" class="md-avatar" alt=""/>

                            <div class="md-list-item-text">
                                <h3>Min Li Chan</h3>
                                <h4>Brunch this weekend?</h4>

                                <p>I'll be in your neighborhood</p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>

                    <md-button class="md-raised md-custom-btn"
                               style="background-color: {{combination.primary.color}}; color:{{combination.primary.contrast}}">
                        Send
                    </md-button>
                    <md-button class="md-raised md-custom-btn pull-right"
                               style="background-color: {{combination.accent.color}}; color:{{combination.accent.contrast}}">
                        Share
                    </md-button>
                </md-content>

                <md-content md-theme="altTheme">
                    <span></span>
                    <md-button class="md-icon-button md-accent small" aria-label="love" ng-if="!combination.love"
                               ng-click="love($event, combination)">
                        <md-icon md-svg-icon="thumbsup">
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button small" aria-label="hate" ng-if="!combination.hate"
                               ng-click="hate($event, combination)">
                        <md-icon md-svg-icon="thumbsdown"></md-icon>
                    </md-button>
                    <md-button class="md-primary">
                        {{combination.key}}
                    </md-button>

                    <md-button class="md-icon-button pull-right small" aria-label="More" ng-click="goToDetail(combination.primary.name, combination.accent.name)">
                        <md-icon md-svg-icon="open"></md-icon>
                    </md-button>

                </md-content>
            </md-card-content>
        </md-card>
    </div>

</div>
